<h1>Listing Matches</h1>



<% require 'json' %>
<table>
  <tr>
    <td><%= "best player : #{@max.name} #{@max.team} #{@max.kills}(#{@max.heads})/#{@max.assists}/#{@max.deaths} #{@max.adr} #{sprintf "%.3f", @max.fantasy_points.to_f}" %></td>
  </tr>
  <tr>
    <td><%= "noobish trash : #{@min.name} #{@min.team} #{@min.kills}(#{@min.heads})/#{@min.assists}/#{@min.deaths} #{@min.adr} #{sprintf "%.3f", @min.fantasy_points.to_f}" %></td>
  </tr>
  <tr>

    <td><%= "average : #{@avg}" %></td>
  </tr>
  <% @gamers.each do |gamer| %>
      <tr>
        <td><%= "#{gamer.name} #{gamer.team}  " %></td>
      </tr>
  <% end %>
</table>